:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
  --clients-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  transform: translate(-50%, -50%);
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  display: block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.modal-form-wrapper {
  margin-bottom: 10px;
}

.modal-form-label-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-icon-box {
  /*  width: 448px;
  height: 40px; */
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* margin-bottom: 10px; */
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/check.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-color: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
  outline: none;
}

.modal-btn {
  margin: 0 auto;
  padding: 10px 55px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-width: 0px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding: 32px 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link.current {
  position: relative;
}

.menu__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  display: block;
  bottom: -1px;
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu .menu__link.current {
  color: var(--accent-color);
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .navigator__list-header {
    display: none;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: black;
}

.burger-btn:focus .burger-btn__icon,
.burger-btn:hover .burger-btn__icon {
  fill: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
  animation-duration: 500ms;
  animation-iteration-count: 2;
}

.header-web {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  padding: 16px 0;
  margin-right: 88px;
}

.contact-list {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__email:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact__email {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    position: relative;
  }
  .contact-list:not(:last-child) {
    margin-right: 50px;
  }
}

.email,
.tel {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover, .email:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .email,
  .tel {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}

.contact__email-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 79px;
  }
}

/* 





.header__logo {
  margin-right: 93px;
}

.menu {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list {
  display: flex;
}

.contact__tel {
  margin-left: 50px;
}




.order {
  background-color: var(--background-color);
}



.email {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tel {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
 */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100%;
  background-color: var(--secondary-text-color);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close-btn {
  position: absolute;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover .mobile-menu__icon,
.mobile-menu__close-btn:focus .mobile-menu__icon {
  fill: var(--accent-color);
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 0 48px 40px;
}

.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .mobile-menu-list__link {
    font-size: 36px;
  }
}

@media screen and (min-width: 400px) {
  .mobile-menu-list__link {
    font-size: 40px;
  }
}

.mobile-menu-list__link:hover, .mobile-menu-list__link:focus, .mobile-menu-list__link:active {
  color: var(--accent-color);
}

.mobile-menu__phone {
  text-decoration: none;
  color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 320px) {
  .mobile-menu__phone {
    font-size: 26px;
  }
}

@media screen and (min-width: 400px) {
  .mobile-menu__phone {
    font-size: 34px;
  }
}

.mobile-menu__phone--alignment {
  margin-bottom: 32px;
}

.mobile-menu__email {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 320px) {
  .mobile-menu__email {
    font-size: 22px;
  }
}

@media screen and (min-width: 400px) {
  .mobile-menu__email {
    font-size: 24px;
  }
}

.mobile-menu__email--alignment {
  margin-bottom: 64px;
}

.sm-list {
  display: flex;
  position: relative;
}

@media screen and (max-width: 320px) {
  .sm-list {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .sm-list__icon {
    margin-bottom: 10px;
  }
  .sm-list__icon:after {
    left: -150px;
  }
}

.sm-list__icon:not(:last-child) {
  margin-right: 20px;
}

.sm-list__icon:not(:last-child):after {
  content: "";
  position: absolute;
  top: 10px;
  width: 22px;
  height: 0px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.sm-list__link {
  color: var(--accent-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  .sm-list__link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.hero {
  background-color: var(--background-color);
  padding: 118px 60px;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/imghero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.hero-title {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  color: var(--primary-text-color);
  background: var(--background-color-2);
  cursor: pointer;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/imghero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/imghero.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/imghero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/imghero.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/imghero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-weight: 900;
    font-size: 47px;
    line-height: 1.36;
  }
}

.section-title {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 30px;
  }
}

.section-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-text {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section__features-main {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section__features-main {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.nature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .nature {
    grid-gap: 30px;
  }
}

.icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--background-color-2);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.section__nature:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section__nature:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nature {
    display: grid;
    grid-template-columns: repeat(2, 354px);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .nature {
    grid-gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section__nature {
    width: 354px;
  }
  .section__nature:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .nature {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .section__nature {
    flex-basis: calc((100% - 30px) / 4);
  }
  .section__nature:not(:last-child) {
    margin-right: 30px;
  }
}

.features__text {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* .section__features {
  padding-bottom: 94px;
}

.section__nature {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
} */
.section-works {
  padding: 94px 0;
}

@media screen and (max-width: 1199px) {
  .section-works {
    display: none;
  }
}

.section__title {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-works {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-works__items:not(:last-child) {
  margin-right: 30px;
}

.works__item {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  text-align: center;
  padding: 27px 82px;
  transform: translateY(-100%);
}

.works__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.section-team {
  background-color: var(--background-color-2);
  text-align: center;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .section-team {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .members {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 354px);
  }
}

@media screen and (min-width: 1200px) {
  .members {
    grid-template-columns: repeat(4, 270px);
  }
}

.members-item {
  background-color: var(--secondary-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members-item:not(:last-child) {
  /* margin-bottom: 30px; */
}

@media screen and (min-width: 768px) {
  .our-team__list-specialist:not(:last-child) {
    margin-bottom: 0;
  }
}

.team-list {
  padding-top: 30px;
  padding-bottom: 24px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-list {
    padding-bottom: 30px;
  }
}

.team-members {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team-post {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.our-team__img {
  width: 100%;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  fill: var(--clients-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.social-list {
  display: flex;
  background-size: cover;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

/* 
.members {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;

  &-item {
    flex-basis: calc(100% - 120px) / 4;
    margin-left: 30px;
    background: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(51, 42, 42, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}


 */
.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

@media screen and (min-width: 480px) {
  .regular-clients-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 210px);
  }
}

@media screen and (min-width: 768px) {
  .regular-clients-list {
    grid-template-columns: repeat(3, 226px);
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients-list {
    grid-template-columns: repeat(6, 170px);
  }
}

.clients-list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.regular-clients-title {
  font-family: Roboto;
  font-size: 28px;
  text-align: center;
  line-height: 1.18;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 30px;
  /* line-height: 1.39; */
}

@media screen and (min-width: 1200px) {
  .regular-clients-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients-icon {
  display: inline-block;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--clients-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.clients-icon:hover, .clients-icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  fill: var(--clients-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover .client-icon,
.clients-icon:focus .client-icon {
  fill: var(--accent-color);
}

.clients__list-icon {
  fill: var(--decoration-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list-link:hover .clients__list-icon,
.client__list-link:focus .clients__list-icon {
  fill: var(--accent-color);
}

.clients__list-icon .regular-clients-list {
  display: flex;
  flex-basis: calc(100% / 6 - 30px);
  flex-wrap: wrap;
  margin-right: -30px;
}

.clients__list-icon .clients-list {
  margin-right: 30px;
}

.footer {
  background-color: var(--background-color);
}

.footer-adress-wrapper {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress-wrapper {
    grid-area: contacts;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress-wrapper {
    margin-right: 70px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "contacts social" "subscribe subscribe";
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
  }
}

.footer-contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts :hover,
.footer-contacts :focus {
  color: var(--accent-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-web {
  color: var(--accent-color);
}

.contact-address {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contact-address {
    margin-bottom: 9px;
  }
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-contacts-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-socials {
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    text-align: left;
    padding-top: 72px;
    padding-bottom: 0;
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials {
    grid-area: social;
    padding-top: 60px;
  }
}

.socials-footer-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.socials-footer-lists {
  display: flex;
  width: 206px;
  justify-content: center;
  margin: 0 auto;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer-icons:hover, .socials-footer-icons:focus {
  background-color: var(--accent-color);
}

.social-icon-footer {
  fill: var(--secondary-text-color);
}

.footer-subscribe {
  text-align: center;
  padding-bottom: 60px;
}

.subscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer-subscribe {
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    text-align: left;
    padding-top: 72px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe {
    grid-area: subscribe;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-email {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.subscribe-btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .subscribe-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background: #188ce8;
}

.icon-send {
  fill: var(--secondary-text-color);
  margin-left: 10px;
}

.subscribe-email {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: var(--secondary-text-color);
  background-color: transparent;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .subscribe-email {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-email {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-email:focus, .subscribe-email:checked {
  border: 1px solid var(--secondary-text-color);
}

.subscribe-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* 
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 20px;
  margin-bottom: 9px;
}






.socials-footer-title {
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 1.17;
}

.socials-footer-list {
  display: flex;
}

.socials-list {
  margin-right: 10px;
  cursor: pointer;
}

.socials-footer-icons {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon-footer {
  fill: var(--secondary-text-color);
}

.footer-socials {
  margin-left: 70px;
}

.footer-container {
  display: flex;
}

.footer-wrapper {
  display: flex;
}

.socials-footer-lists {
  display: flex;
}

.socials-item {
  margin-left: 10px;
}

.footer-subscribe {
  margin-left: 93px;
}



.subscribe-form {
  display: flex;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms linear;
  border-radius: 4px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
  cursor: pointer;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--accent-color);
}
 */
.portfolio {
  color: var(--primary-text-color);
  background: var(--background-color-2);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 25px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover, .portfolio:focus, .portfolio:active {
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.all {
  color: var(--secondary-text-color);
  background: var(--accent-color);
  fill: var(--secondary-text-color);
}

.menu-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-btn {
    justify-content: center;
    margin-bottom: 35px;
  }
}

.list-btn:not(:last-of-type) {
  margin-right: 8px;
  margin-bottom: 15px;
}

/* 
.portfolio {
  color: var(--primary-text-color);
  background-color: var(--background-color-2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
  }
} */
.main-portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .main-portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .products {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 354px);
  }
}

@media screen and (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 370px);
  }
}

.product {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .product {
    display: flex;
  }
  .product:not(:last-child) {
    margin-bottom: 0;
  }
}

.product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 24px;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .overlay {
    padding-top: 76px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding-top: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 62px;
  }
}

.product-item:hover .overlay,
.product-item:focus .overlay {
  transform: translateY(-100%);
}

.product-list {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .product-list {
    flex-grow: 1;
    flex-direction: column;
  }
}

.product-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.product-name {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.product-item {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .product-item {
    display: flex;
    flex-direction: column;
  }
}

.product-box {
  position: relative;
  overflow: hidden;
}

.product-item:hover .portfolio-item__description,
.product-item:focus .portfolio-item__description {
  transform: translateY(-100%);
}

/* 
.product-title {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-name {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}

.list-btn {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.product {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background: var(--secondary-text-color);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-item {
    display: block;
  }

  &-list {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }

  &-box {
    position: relative;
    overflow: hidden;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
 */
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--accent-color);
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--secondary-text-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .product-item:hover &,
  .product-item:focus & {
    transform: translateY(0%);
  }
} */
/*# sourceMappingURL=main.css.map */