.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding: 32px 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current {
    position: relative;
  }

  &.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    display: block;
    bottom: 6px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu .menu__link.current {
  color: var(--accent-color);
}

.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and(max-width: 767px) {
  .navigator__list-header {
    display: none;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;

  &__icon {
    width: 40px;
    height: 40px;
    fill: black;
  }
  &:focus .burger-btn__icon,
  &:hover .burger-btn__icon {
    fill: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-color);

    @media screen and(max-width: 767px) {
      display: none;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
  /*  margin-right: 93px; */
  animation-duration: 500ms;
  animation-iteration-count: 2;
}

.header-web {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  padding: 16px 0;
  margin-right: 88px;
}

.contact-list {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and(min-width: 768px) and(max-width: 1199px) {
  .contact__email:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__email {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.email,
.tel {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    & {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.contact__email-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and(max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and(max-width: 767px) {
  .menu {
    display: none;
  }
}

/* 





.header__logo {
  margin-right: 93px;
}

.menu {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list {
  display: flex;
}

.contact__tel {
  margin-left: 50px;
}




.order {
  background-color: var(--background-color);
}



.email {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tel {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
 */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100%;
  background-color: var(--secondary-text-color);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
}

.mobile-menu {
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile-menu__close-btn {
  position: absolute;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .mobile-menu__icon,
  &:focus .mobile-menu__icon {
    fill: var(--accent-color);
  }
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 0 48px 40px;
}

.mobile-menu-list {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    text-decoration: none;

    @media screen and(min-width: 320px) {
      font-size: 36px;
    }

    @media screen and(min-width: 400px) {
      font-size: 40px;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
    }
  }
}

.mobile-menu__phone {
  text-decoration: none;
  color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;

  letter-spacing: 0.02em;

  @media screen and(min-width: 320px) {
    font-size: 26px;
  }

  @media screen and(min-width: 400px) {
    font-size: 34px;
  }

  &--alignment {
    margin-bottom: 32px;
  }
}

.mobile-menu__email {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  @media screen and(min-width: 320px) {
    font-size: 22px;
  }

  @media screen and(min-width: 400px) {
    font-size: 24px;
  }

  &--alignment {
    margin-bottom: 64px;
  }
}

.sm-list {
  display: flex;
  position: relative;

  @media screen and(max-width: 320px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.sm-list__icon {
  @media screen and(max-width: 400px) {
    margin-bottom: 10px;

    &:after {
      left: -150px;
    }
  }

  &:not(:last-child) {
    margin-right: 20px;

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      width: 22px;
      height: 0px;
      border-bottom: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
}

.sm-list__link {
  color: var(--accent-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration: none;

  @media screen and(min-width: 400px) {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}
